@media (max-width: 1440px) {
  .nav__item:not(:last-child) {
    margin-right: 65px;
  }

  .header__nav {
    margin-left: auto;
    margin-right: 100px;
  }

  .card-bg {
    max-width: 100%;
  }

  .card {
    width: 100%;
  }

  .card:not(:last-child) {
    margin-bottom: 32px;
  }

  .small-cards {
    flex-direction: row;
    justify-content: space-between;
  }

  .small-card {
    flex-grow: 0;
    width: calc(50% - 32px / 2);
  }

  .card-consul:first-child {
    margin-bottom: 0;
  }

  .card__right {
    align-items: flex-start;
    max-width: 100%;
  }

  .work__descr {
    margin-right: 32px;
  }

  .footer__descr {
    display: none;
  }
}

@media (max-width: 1280px) {
  .nav__item:not(:last-child) {
    margin-right: 40px;
  }

  .header__nav {
    margin-left: auto;
    margin-right: 40px;
  }

  .cards {
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card {
    margin: 0;
    max-width: 100%;
  }

  .card__wrapper {
    max-width: 100%;
  }

  .card-bg {
    min-height: 640px;
  }

  .small-cards {
    flex-direction: column;
    justify-content: flex-start;
  }

  .small-card {
    width: 100%;
  }

  .card-consul {
    padding: 62px 155px 65px 77px;
  }

  .card-subtext {
    max-width: 100%;
  }
  .card-consul::before {
    width: calc(190 / (924 - 75 - 140) * 100%);
    padding-top: calc(165 / (924 - 75 - 140) * 100%);
  }

  .card-consul:not(:last-child) {
    margin-bottom: 32px;
  }

  .work__img {
    min-height: 570px;
  }

  .footer__center {
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  /* HEADER */
  .header {
    padding: 26px 0;
    margin-bottom: 40px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__logo {
    margin: 0;
  }

  .header__nav {
    display: none;
  }

  .btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .menu-burger {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    width: 30px;
    height: 23px;
    overflow-x: hidden;
    color: var(--color-black);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }

  .menu-burger-line {
    display: inline-block;
    width: 30px;
    height: 3px;
    color: inherit;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }

  .menu-burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: currentColor;
  }

  .menu-burger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: currentColor;
  }

  .menu-burger:focus-visible {
    outline: 2px solid var(--color-orange);
    outline-offset: 3px;
  }

  .menu-burger:hover:not(:focus-visible) {
    color: var(--color-orange);
  }

  .menu-burger:active:not(:focus-visible) {
    outline: none;
    color: var(--color-active);
  }

  .burger--active .menu-burger-line {
    opacity: 0;
  }

  .burger--active.menu-burger {
    height: 30px;
  }

  .burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out;
  }

  .burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out;
  }

  .header__nav {
    margin: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 75px;
    z-index: 1000;
    overflow-y: auto;
    padding-left: 50px;
    padding-bottom: 665px;
    padding-top: 70px;
    width: 60%;
    max-width: 420px;
    height: calc(100vh - 750px);
    background-color: var(--color-white);
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0 5px 5px -5px #333;
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
  }

  .menu-burger {
    z-index: 2000;
  }

  .nav--visible {
    transform: none;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-black-grey);
  }

  .nav__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .header__nav .nav__list .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .header__logo {
    width: 150px;
    display: grid;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .search-btn {
    padding: 0;
  }

  /* HERO */
  .hero {
    padding-bottom: 35px;
  }

  .slide-1 {
    background-image: url("../imgs/hero-pic-1024_1.png");
  }

  .slide-2 {
    background-image: url("../imgs/hero-pic-1024_2.png");
  }

  .slide-3 {
    background-image: url("../imgs/hero-pic-1024_3.png");
  }

  .text-box {
    padding: 160px 77px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }

  .hero__descr {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  /* ABOUT */
  .about {
    padding-bottom: 80px;
  }

  .about__descr {
    width: 100%;
    margin-bottom: 60px;
  }

  .cards {
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card {
    margin: 0;
    max-width: 100%;
  }
  .card:not(:last-child) {
    margin-bottom: 0;
  }
  .card__wrapper {
    max-width: 100%;
  }

  .card-bg {
    margin-bottom: 32px;
    max-width: 924px;
    min-height: 640px;
    background-image: url("../imgs/about_bg_1024.jpg");
  }
  .card-consul {
    padding: 63px 146px 65px 79px;
  }
  .card-consul::before {
    margin-right: 52px;
  }

  /* WORK */

  .work {
    padding-bottom: 78px;
  }

  .work__content {
    width: 100%;
  }

  .work__card:first-child {
    margin-right: 50px;
  }

  .work__steps {
    margin-bottom: 50px;
  }

  .work__step-btn:not(:last-child) {
    margin-right: 85px;
  }

  .work__step-btn {
    margin: 0;
    padding: 0;
  }

  .work__descr {
    margin-right: 0;
    margin-bottom: 25px;
    max-width: 437px;
  }

  .work__img {
    min-height: 689px;
    background-size: cover;
  }

  .work__img1 {
    background-image: url("../imgs/work_pic_1024_1.png");
  }

  .work__img2 {
    background-image: url("../imgs/work_pic_1024_2.png");
  }

  .work__img3 {
    background-image: url("../imgs/work_pic_1024_3.png");
  }

  .work__img4 {
    background-image: url("../imgs/work_pic_1024_4.png");
  }

  /* QUESTIONS */

  .questions {
    padding-bottom: 81px;
  }

  .question-title {
    flex-basis: 81%;
    font-size: 20px;
    line-height: 32px;
  }

  .accordion__content {
    margin-right: 22px;
  }

  /* FOOTER */
  .footer__right {
    display: none;
  }

  .footer__content {
    max-width: 100%;
    padding-bottom: 45px;
  }

  .footer__left {
    margin-right: 0;
  }

  .footer__center {
    margin-right: 0;
  }

  .footer__form__input {
    width: 541px;
  }

  .form-btn {
    padding: 18px 38px;
  }

  .stop--scroll {
    overflow: hidden;
  }
}

@media (max-width: 962px) {
  .card-bg {
    min-height: 650px;
  }

  .card__content {
    padding: 34px 40px;
  }

  .card__text {
    max-width: calc(366 / (668 - 34 - 34) * 100%);
  }

  .card__right {
    align-items: center;
    padding: 34px 44px 34px 40px;
  }

  .card__right::before {
    align-self: center;
    width: calc(114 / (668 - 40 - 46) * 100%);
    margin-right: 16px;
    padding-top: calc(99 / (668 - 40 - 46) * 100%);
  }

  .work {
    padding-bottom: 50px;
  }

  .work__steps {
    justify-content: space-between;
    max-width: 100%;
  }

  .work__content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .work__card {
    width: 100%;
  }

  .work__card:first-child {
    margin-right: 0;
  }

  .work__card:last-child {
    margin-bottom: 40px;
  }

  .work__img {
    min-height: 386px;
  }

  .work__title {
    margin-bottom: 47px;
  }

  .work__descr {
    max-width: 100%;
    margin-bottom: 22px;
  }

  .footer__form__input,
  .form-textarea {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
    margin-bottom: 40px;
  }

  .header__nav {
    top: 50px;
    padding-bottom: 645px;
    height: calc(100vh - 404px);
  }

  .search-form {
    top: 0;
    padding-top: 23px;
  }

  .slide-1 {
    background-image: url("../imgs/hero-pic-768_1.png");
  }

  .slide-2 {
    background-image: url("../imgs/hero-pic-768_2.png");
  }

  .slide-3 {
    background-image: url("../imgs/hero-pic-768_3.png");
  }

  .text-box {
    padding: 160px 40px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    margin-bottom: 54px;
    max-width: 588px;
  }

  .about__descr {
    margin-bottom: 54px;
  }

  .card {
    margin-bottom: 0;
  }

  .card-bg {
    min-height: 651px;
    background-image: url("../imgs/about_bg_768.jpg");
  }

  .card__content {
    padding: 34px 40px;
  }
  .card__text {
    max-width: 366px;
  }

  .card-consul {
    padding: 34px 40px;
  }

  .work__img {
    min-height: 286px;
  }

  .work__img1 {
    background-image: url("../imgs/work_pic_768_1.png");
  }
  .work__img2 {
    background-image: url("../imgs/work_pic_768_2.png");
  }

  .work__img3 {
    background-image: url("../imgs/work_pic_768_3.png");
  }

  .work__img4 {
    background-image: url("../imgs/work_pic_768_4.png");
  }

  .question-btn {
    padding: 30px 0;
  }

  .question-title {
    margin-right: 35px;
    flex-basis: auto;
  }

  .questions {
    padding-bottom: 110px;
  }

  .footer__nav {
    display: none;
  }

  .footer__content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-bottom: 46px;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .footer__form__input,
  .form-textarea {
    width: 81%;
  }

  .footer__block:nth-child(2) {
    margin-bottom: 50px;
  }

  .form-btn {
    margin-right: 127px;
  }

  .socials {
    margin-top: 10px;
  }
}

@media (max-width: 660px) {
  .search-form {
    width: 320px;
    border-radius: 0px 0px 24px 24px;
    padding-top: 25px;
    top: -2px;
    transform: translateY(-50%);
  }
  .search__show {
    transform: translateY(0%);
    visibility: visible;
  }

  .card__text {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .card-detail__btn {
    margin-left: 0;
  }

  .footer__form__input,
  .form-textarea {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }

  .header {
    padding: 17px 0;
    border-radius: 0 0 16px 16px;
    margin-bottom: 30px;
  }

  .header__nav .nav__list .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header__nav {
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 310px;
    width: 100%;
    overflow-y: auto;
    top: 50px;
    box-shadow: none;
    height: calc(100vh - 750px);
  }

  .nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .header__logo {
    width: 110px;
    height: 35px;
  }

  .search-form {
    width: 320px;
    border-radius: 0px 0px 24px 24px;
    padding-top: 24px;
    top: 0;
    right: 14px;
    transform: translateY(-50%);
    z-index: 3000;
  }

  .search__show {
    transform: translateY(0%);
    visibility: visible;
  }

  .section-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .header__logo {
    width: 110px;
    height: 35px;
  }

  .hero {
    padding-bottom: 60px;
  }

  .slide-1 {
    background-image: url("../imgs/hero-pic-320_1.png");
  }

  .slide-2 {
    background-image: url("../imgs/hero-pic-320_2.png");
  }

  .slide-3 {
    background-image: url("../imgs/hero-pic-320-3.png");
  }

  .text-box {
    padding: 63px 22px;
  }

  .hero__title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .hero__descr {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }

  .hero__btn {
    margin: 0 auto;
    padding: 13px 28px;
    font-size: 12px;
    line-height: 1;
    border-radius: 8px;
  }

  .about__descr {
    margin-bottom: 14px;
  }

  .card-bg {
    margin-bottom: 0;
    background-image: url("../imgs/about_bg_320.jpg");
  }

  .card:not(:last-child) {
    margin-bottom: 27px;
  }

  .about {
    padding-bottom: 60px;
  }

  .card:not(:last-child) {
    margin-bottom: 30px;
  }

  .about__descr {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 28px;
  }

  .card-bg {
    display: block;
    min-height: auto;
    background-size: 0;
    background-image: url("../imgs/about_us_bg.jpg");
    background-color: transparent;
  }

  .card-bg::before {
    content: "";
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding-top: calc(200 / 290 * 100%);
    background-color: var(--color-grey);
    background-image: inherit;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
  }

  .card__content {
    padding: 0;
    color: var(--dark);
    background-color: transparent;
  }

  .card__text {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: var(--color-black);
  }

  .card-btn {
    width: 162px;
    padding: 12px 44px;
    font-size: 12px;
    line-height: 15px;
    background-color: transparent;
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    color: var(--color-orange);
  }

  .card__right {
    flex-wrap: wrap;
    padding: 0;
    border: none;
  }

  .card__right::before {
    width: 64px;
    margin-bottom: 6px;
    padding-top: 56px;
  }

  .card-subtitle {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }

  .card-subtext {
    font-size: 14px;
    line-height: 28px;
  }

  .work__step {
    font-size: 14px;
    line-height: 17px;
  }

  .work__step-btn:not(:last-child) {
    margin-right: 0;
  }

  .work__title {
    margin-bottom: 18px;
  }

  .work__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .work__img {
    min-height: 160px;
    border-radius: 16px;
  }

  .work__img1 {
    background-image: url("../imgs/work_pic_320_1.png");
  }

  .work__img2 {
    background-image: url("../imgs/work_pic_320_2.png");
  }

  .work__img3 {
    background-image: url("../imgs/work_pic_320_3.png");
  }

  .work__img4 {
    background-image: url("../imgs/work_pic_320_4.png");
  }

  .work__steps {
    margin-bottom: 14px;
  }

  .work__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
  .work__card:last-child {
    margin-bottom: 16px;
  }

  .work__btn {
    width: 162px;
    padding: 12px 44px;
    font-size: 12px;
    line-height: 15px;
    background-color: transparent;
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    color: var(--color-orange);
  }

  .btn-light {
    width: 115px;
    padding: 12px 32px;
    background-color: transparent;
    border: 2px solid var(--color-black);
    border-radius: 8px;
    color: var(--color-black);
  }

  .work__btn:first-child {
    margin-right: 5px;
  }

  .work {
    padding-bottom: 60px;
  }

  .question-title {
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .questions__title {
    margin: 0;
    margin-bottom: 16px;
  }

  .question-icon {
    width: 30px;
    height: 30px;
  }

  .questions {
    padding-bottom: 59px;
  }

  .accordion__content {
    font-size: 14px;
    line-height: 28px;
  }

  .footer__content {
    padding-top: 32px;
    padding-bottom: 27px;
  }

  .footer__form__input,
  .form-textarea {
    width: 100%;
  }

  .form-title {
    margin-bottom: 20px;
  }
  .footer__form__input {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding: 21px 20px;
  }

  .form-textarea {
    padding: 14px 17px;
  }

  .form-btn {
    width: 180px;
    padding: 12px 28px;
    font-size: 12px;
    line-height: 15px;
    background: var(--color-orange);
    border-radius: 8px;
    color: var(--color-white);
    margin: 0 auto;
  }

  .footer__form__item {
    margin-bottom: 24px;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__log–æ-img {
    width: 131px;
    margin-bottom: 10px;
  }

  .footer__left {
    position: relative;
    margin: 0 auto;
  }

  .socials {
    margin-top: 0;
  }

  .social-icon:not(:last-child) {
    margin-right: 25px;
  }

  .social-icon {
    width: 40px;
    height: 40px;
  }

  .social-item:not(:last-child) {
    margin-right: 18px;
    margin-left: 16px;
  }

  .footer__block:nth-child(2) {
    margin-bottom: 32px;
  }

  .footer__left::before {
    content: "";
    position: absolute;
    top: -17px;
    width: 290px;
    left: -80px;
    height: 1px;
    background-color: #414141;
  }

  .footer__form__input::placeholder {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .search-form {
    left: 0;
  }
}
